---


# Primers - uncomment the correct set
# ====================================
# These are some common ones used at our institution.  You may need to provide your own
# primer sequences

# Illumina V3-V4 protocol primers
fwd_primer: "TCGTCGGCAGCGTCAGATGTGTATAAGAGACAGCCTACGGGNGGCWGCAG"
rev_primer: "GTCTCGTGGGCTCGGAGATGTGTATAAGAGACAGGACTACHVGGGTATCTAATCC"
fwd_primer_rc: "CTGCWGCCNCCCGTAGGCTGTCTCTTATACACATCTGACGCTGCCGACGA"
rev_primer_rc: "GGATTAGATACCCBDGTAGTCCTGTCTCTTATACACATCTCCGAGCCCACGAGAC"


# # Surette V3 protocol
#fwd_primer: "ATTACCGCGGCTGCTGG"
#rev_primer: "CCTACGGGAGGCAGCAG"
#fwd_primer_rc: "CCAGCAGCCGCGGTAAT"
#rev_primer_rc: "CTGCTGCCTCCCGTAGG"

# Surette V3-V4 protocol
# fwd_primer: "NNNNGGACTACHVGGGTWTCTAAT"
# rev_primer: "CCTACGGGAGGCAGCAG"
# fwd_primer_rc: "ATTAGAWACCCBDGTAGTCCNNNN"
# rev_primer_rc: "CTGCTGCCTCCCGTAGG"

# Harrison lab protocol
#fwd_primer: "CCTACGGGNGGCWGCAG"
#rev_primer: "GACTACHVGGGTATCTAATCC"
#fwd_primer_rc: "CTGCWGCCNCCCGTAGG"
#rev_primer_rc: "GGATTAGATACCCBDGTAGTC"


run_name: "test" 

# inital quality trim, trim the 3' end of the reads at the given quality cutoff
# best to keep this value low if you can to keep the 3' ends long for overlapping
# # but if you have really bad 3' qualities this can help improve the read pair merging
q_trim: 20

# max value for expected error for read filtering. Increase to reduce stringency.
max_expected_error: 1.0

# Truncate all reads at this length
read_length_cutoff: 400

# number of threads for multi-threaded applications 
# overriden by -j option to snakemake when running multithreaded
# number of threads per-node when submitting to cluster
num_threads: 20

# Directory where the raw reads are stored
read_directory: "test_data"

# Analysis type: make otu clusters "cluster", or denoised zOTUs "unoise"
analysis_type: "unoise"

# database for dada2::assignTaxonomy
database: "~/databases/assignTaxonomy/rdp_train_set_14.fa.gz"

# one of "rdp", "gg", "silva"
taxa_type: "rdp"

# for the Surette lab protocol, or any other where the forward 16S primer is on the reverse read
# in order for the taxonomy assignment to work correctly the reads need to be in the same direction
# as the database.  For most protocols this should be FALSE.  If you aren't getting any taxonomy 
# assigned to your reads try changing this to TRUE and see if that makes a difference.
revcomp: "FALSE"

# Unique sample descriptors - should be unique, present in the file names and contain no underscores.  The 
# current standard for fastq filenaming from Illumina is to put the sample name at the beginning of the 
# file followed by an underscore.  This is the convention the pipeline follows.  If your files are named 
# differently then you can modify the input step in the clip_primers rule in the snakefile. 
samples: ["b1201055m2", "b1201057v1", "b1201058v2", "b1201059v2", "b1201060v3", "b1201062m2", "b1201064v2", "b1201065v3", "b1201076v2", "b2255006v3", "b1008021m2", "b1201067v5", "b1201055v5", "b1201057v2", "b1201058v3", "b1201059v3", "b1201060v4", "b1201062v5", "b1201064v3", "b1201065v4", "b1201076v4", "b2255006v4", "b1201067v1", "NTC", "b1201056v1", "b1201057v3", "b1201058v4", "b1201059v4", "b1201060m1", "b1201063v1", "b1201064v4", "b1201065v5", "b1201076m1", "b2255006m1", "b1201067v2", "b1201056v2", "b1201057v4", "b1201058m1", "b1201059m1", "b1201060m2", "b1201063v2", "b1201064m1", "b1201066v1", "b1205031v1", "b2255006m2", "b1201067v3", "b1201056v3", "b1201057m1", "b1201058m2", "b1201059m2", "b1201060v5", "b1201063v3", "b1201064m2", "b1201066v2", "b1205031v2", "b1008021v1", "b1201067v4", "b1201056m1", "b1201057m2", "b1201058ned", "b1201059v5", "b1201062v3", "b1201063m2", "b1201064v5", "b1201066v3", "b2108041v3", "b1008021v3", "b1201067m1", "b1201056m2", "b1201057v5", "b1201058v5", "b1201060v1", "b1201062v4", "b1201063v5", "b1201065v1", "b1201066m1", "b2255006v1", "b1008021ned", "b1201067m2", "b1201056v5", "b1201058v1", "b1201059v1", "b1201060v2", "b1201062m1", "b1201064v1", "b1201065v2", "b1201076v1", "b2255006v2", "b1008021m1", "b1201068v1"]
